main {
   display: flex;
   justify-content: center;
   height: calc(100dvh - var(--navbar-height) - var(--navbar-height));
}

.hero {
   &__container {
      &--left,
      &--right {
         display: flex;
         width: 50%;
         max-width: 50%;
         justify-content: center;
         box-sizing: border-box;
         text-align: center;
      }

      &--left {
         background: #0c0b14;
         background: radial-gradient(
            ellipse 50% 50% at 50% 50%,
            rgba(105, 60, 178, 30%) 0%,
            #0c0b14 90%
         );
      }

      &--right {
         padding: 4.5rem;
         gap: 1.2rem;
         flex-direction: column;
      }
   }

   &__title {
      color: #6d39bf;
      background-image: linear-gradient(135deg, #6d39bf 15%, #0095dd 108%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.4rem;
      font-weight: 800;
      margin: 0;
      line-height: 3rem;
      letter-spacing: -0.09rem;
   }

   &__content {
      color: white;
      margin: 0;
      line-height: 1.5rem;
   }
}
