.project {
   &__container {
      display: flex;
      width: 100%;
      max-width: 1280px;
      margin-top: 2.1rem;
   }

   &__subcontainer {
      display: flex;
      width: 60%;
   }

   &__background {
      position: absolute;
      margin-left: -3rem;
      z-index: 1;
   }

   &__window {
      display: inherit;
      flex-direction: column;
      border-radius: 16px;
      margin-top: 2.4rem;
      overflow: hidden;
      height: calc(400px + 36px);
      z-index: 2;
      background: #0e1a2c;
   }

   &__header {
      height: 36px;
      background: #0095dd;
      background: linear-gradient(
         90deg,
         #0d2035 0%,
         rgb(0, 0, 0, 0.15) 52%,
         #0d2035 100%
      );
   }

   &__controller {
      display: flex;
      margin-left: 0.9rem;
      align-items: center;
      height: 36px;
      width: auto;
      gap: 0.3rem;

      .project__button {
         display: inherit;
         border-radius: 99999px;
         height: 11.1px;
         width: 11.1px;
         background-color: #fd5754;
         border: 1px solid #d64c4a;

         &--minimize {
            background-color: #febb40;
            border: 1px solid #da9f31;
         }

         &--maximize {
            background-color: #34c846;
            border: 1px solid #27aa35;
         }
      }
   }

   &__description {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 40%;
   }
}

.description {
   &__item {
      background: linear-gradient(
         to right,
         rgba(13, 32, 53, 0.6) 0%,
         rgba(7, 16, 27) 52%,
         rgba(13, 32, 53, 0.51) 180%
      );
      border-radius: 16px;
      color: white;
      padding: 0.6rem;

      &--year {
         display: flex;
         text-align: center;
         background: #6d39bf;
         background-image: linear-gradient(
            170deg,
            rgba(109, 57, 191, 1) 42%,
            rgba(0, 149, 221, 1) 120%
         );
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         font-size: 2.7rem;
         justify-content: center;
         font-weight: 800;
         margin: 0 0.6rem;
         margin-top: 0;
      }

      &--title {
         font-size: 1.2rem;
         display: flex;
         justify-content: center;
         margin: 0.72rem 0;
         padding: 0.9rem;
      }

      &--content {
         background: linear-gradient(
            to right,
            rgba(13, 32, 53, 0.51) 0%,
            rgba(7, 16, 27) 52%,
            rgba(13, 32, 53, 0.51) 180%
         );
         padding: 1.2rem 2.4rem;
         border-radius: 16px;
         margin: 0;
      }

      &--buttons {
         display: flex;
         justify-content: space-between;
         margin-top: 1rem;
         gap: 1rem;
      }

      &--button {
         color: white;
         width: 100%;
         border: solid 1px rgba(89, 51, 149, 0.3);
      }

      &--tech {
         width: min-content;
         padding-left: 1.5rem;
         padding-right: 1.5rem;
      }

      &--labels {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 1rem;
      }

      &--caption {
         width: 12rem;
         color: #34529e;
         font-weight: 600;
      }

      &--label {
         display: flex;
         width: 100%;
         justify-content: center;
         border: solid 1px rgba(52, 82, 158, 0.3);
      }
   }
}
