.footer {
   height: var(--footer-height);
   display: flex;
   justify-content: center;
   align-items: center;
   background: #0c0b14;
   background: linear-gradient(0deg, #121020 0%, #0c0c15 100%);
   color: white;
   font-size: 0.75rem;
}
